@charset "utf-8";

@font-face
{
    font-family: 'papyrus';
    src: url('../polices/papyrus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, body * 
{
	margin:0;
	padding:0;
}

#global
{
	width:100%;
	height:2900px;
}

/*MEDIDAS GLOBALES*/

#cab-inicio
{
	width:100%;
	height:4%;
	background:url('../images/cab.png') no-repeat;
	background-size: 100% 100%;
}

#cuerpo
{
	width:100%;
	height:91.5%;
	background:url('../images/fondoblanco.jpg') no-repeat;
	background-size: 100% 100%;
}

#pie
{
	width:100%;
	height:4.5%;
	background:url('../images/pie.png') no-repeat;
	background-size: 100% 100%;
}

/* CABECERA INICIO */
#acceso
{
	width: 25%;
	height: 100%;
	font-family:papyrus;
	font-size: 1.3em;
	color: white;
	float:left;
	letter-spacing: 2px;
	text-align:center;
}

#acceso a
{
	text-decoration:none;
	color: white;
}

#acceso p
{
	margin-top: 5%;
}

#acceso a:hover
{
	color:#F9CF24;
}

#cab-inicio h1
{
	width: 50%;
	height:60%;
	display:inline-block;
}

.titulo
{
	text-align: center;
	font-family:papyrus;
	font-size: 3em;
	color: white;
	font-weight:bold;
	letter-spacing:5px;
}

#enlaces_cab
{
	width:25%;
	height: 60%;
	font-family:verdana;
	font-size: 0.8em;
	color: white;
	float:right;
	text-align:center;
}

#enlaces_cab img:hover
{
	transform:scale(1.2);
    -ms-transform:scale(1.2);
}

#enlaces_cab img
{
	width: 35px;
	height: 35px;
	margin-left: 5px;
}

#enlaces_cab p
{
	margin-top: 4%;
}

#menu
{
    display: inline-block;
	width: 60%;
	height: 40%;
}

#menu ul
{
    list-style-type: none;
	padding-right: 1%;
}

#menu li
{
    display: inline-block;
	margin-right: 15px;
	padding: 2px;	
}

#menu a
{
    text-align: center;
	font-size: 1.6em;
	font-family: papyrus;
	color: white;
    text-decoration: none;
}

#menu a:hover
{
	color: #F9CF24;
}

/* CUERPO */

#notis
{
	width:72%;
	height:95%;
	float:left;
}

#indice
{
	width: 18%;
	height: 40%;
	margin:2%;
	padding: 2%;
	float:right;
	border: 10px solid #F9CF24;
	border-style: double;
	border-radius: 5px;
	
}



/* NOTICIAS */

#n1
{
	width: 96%;
	height: 26%;
	padding-left:1%;
	padding-top:2%;
	margin-left:1.5%;
	padding-bottom:1%;
	border-bottom: 4px dashed #F9CF24;
}

#n2
{
	width: 96%;
	height: 33%;
	padding-left:1%;
	padding-top:1%;
	margin-left:1.5%;
	margin-right:1%;
	padding-bottom:1%;
	border-bottom: 4px dashed #F9CF24;
}

#n3
{
	width: 96%;
	height: 24%;
	padding-left:1%;
	padding-top:1%;
	margin-left:1.5%;
	margin-right:1%;
	padding-bottom:1%;
	border-bottom: 4px dashed #F9CF24;
}

#n4
{
	width: 96%;
	height: 10%;
	padding-left:1%;
	padding-top:1%;
	margin-left:1.5%;
	margin-right:1%;
	
}

.titular
{
	width:100%;
	font-family:papyrus;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 1.8em;
	text-align: left;
}

.date
{
	font-size:0.8em;
	color: #9E1E02;
}

#n1 .imppal{
	width:45%;
	height:40%;
	float: left;
	clear: both;
	margin-right:1%;
}

#n2 .imppal{
	width:40%;
	height:30%;
	float: left;
	clear: both;
	margin-right:1%;
}

#n3 .imppal{
	width:28%;
	height:60%;
	float: left;
	clear: both;
	margin-right:1%;
}

#n4 .imppal{
	width:42%;
	height:80%;
	float: left;
	clear: both;
	margin-right:1%;
}

#texto
{
	width:98%;
	height: 100%;
	font-size:1em;
	line-height: 1.6;
	text-align: justify;
	font-family: "dayrom";
}



/* POP-UP 1*/

#popup
{
	visibility: hidden;
	opacity:0;
	margin-top: -1200px;
}

#popup:target
{
	visibility: visible;
	opacity:1;
	background-color:rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	z-index:999;
	transition: all 1s;
}

.popup-contenedor1
{
	position:relative;
	margin:7% auto;
	padding:30px 50px;
	background-color:#fafafa;
	color:#333;
	border-radius:3px;
	width:50%;
	font-size: 1.5em;
}

a.popup-cerrar
{
	position: absolute;
	top:3px;
	right:3px;
	background-color:#333;
	padding:7px 10px;
	font-size:20px;
	text-decoration:none;
	line-height:1;
	color:#fff;
}

/* POP-UP 2*/

#popup2
{
	visibility: hidden;
	opacity:0;
	margin-top: -1200px;
}

#popup2:target
{
	visibility: visible;
	opacity:1;
	background-color:rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	z-index:999;
	transition: all 1s;
}

.popup-contenedor2
{
	position:relative;
	margin:7% auto;
	padding:30px 50px;
	background-color:#fafafa;
	color:#333;
	border-radius:3px;
	width:50%;
	font-size: 1.5em;
}

a.popup-cerrar2
{
	position: absolute;
	top:3px;
	right:3px;
	background-color:#333;
	padding:7px 10px;
	font-size:20px;
	text-decoration:none;
	line-height:1;
	color:#fff;
}

/* POP-UP 3*/

#popup3
{
	visibility: hidden;
	opacity:0;
	margin-top: -1200px;
}

#popup3:target
{
	visibility: visible;
	opacity:1;
	background-color:rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	z-index:999;
	transition: all 1s;
}

.popup-contenedor3
{
	position:relative;
	margin:7% auto;
	padding:30px 50px;
	background-color:#fafafa;
	color:#333;
	border-radius:3px;
	width:50%;
	font-size: 1.5em;
}

a.popup-cerrar3
{
	position: absolute;
	top:3px;
	right:3px;
	background-color:#333;
	padding:7px 10px;
	font-size:20px;
	text-decoration:none;
	line-height:1;
	color:#fff;
}

/* POP-UP 4*/

#popup4
{
	visibility: hidden;
	opacity:0;
	margin-top: -1200px;
}

#popup4:target
{
	visibility: visible;
	opacity:1;
	background-color:rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	z-index:999;
	transition: all 1s;
}

.popup-contenedor4
{
	position:relative;
	margin:7% auto;
	padding:30px 50px;
	background-color:#fafafa;
	color:#333;
	border-radius:3px;
	width:50%;
	font-size: 0.8em;
}

a.popup-cerrar4
{
	position: absolute;
	top:3px;
	right:3px;
	background-color:#333;
	padding:7px 10px;
	font-size:20px;
	text-decoration:none;
	line-height:1;
	color:#fff;
}

.popup-contenedor4 img, .popup-contenedor3 img, .popup-contenedor2 img, .popup-contenedor1 img
{
	width:95%;
	height:95%;
	margin: auto;
	display:block;
}

/* ASIDE */

#mini1, #mini2, #mini3, #mini4
{
	width:100%;
	height: 20%;
}

.minititulo
{
	text-align: center;
	font-family:papyrus;
	font-size: 1.2em;
	color: black;
	font-weight:bold;
	letter-spacing:3px;
	margin-bottom: 5%;
	text-decoration: underline;
}

#indice a
{
	text-decoration: none;
	color: black;
}

.tit
{
	font-size: 1em;
	font-family:papyrus;
	line-height: 1em;
}

.imsec
{
	width:50%;
	height:50%;
}

.link
{
	font-size: 0.9em;
	text-align: left;
	text-decoration: underline;
	color: #9E1E02;
}


/* PIE */

#bannerabajo
{
	font-family:dayrom;
	width:96%;
	height:100%;
	display:inline-block;
	padding-left: 2%;
	padding-right: 2%;
	padding-top:0;
}

#avisos
{
	float:left;
	text-align:left;
	vertical-align:text-bottom;
	margin-top:4%;
	color:white;
}

#imagenpie
{
	display:inline-block;
	margin-left: 12%;
	margin-top:1%;
}

.nombre
{
	height: 100px;
	width: 180px;
}

#enlaces_pie
{
	float:right;
	text-align:right;
	margin-top:5%;
}

#enlaces_pie img
{
	width: 35px;
	height: 35px;
	margin-left: 5px;
}

#enlaces_pie img:hover
{
	transform:scale(1.2);
    -ms-transform:scale(1.2);
}

#avisos a
{
	text-decoration:none;
	color:white;
}

#avisos a:hover
{
	color: #F9CF24;
}



