@charset "utf-8";

@font-face
{
    font-family: 'papyrus';
    src: url('../polices/papyrus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, body * 
{
	margin:0;
	padding:0;
}

#global
{
	width:100%;
	height:1100px;
}

/*MEDIDAS*/

#cab-inicio
{
	width:100%;
	height:12%;
	background:url('../images/cab.png') no-repeat;
	background-size: 100% 100%;
}

#cuerpo
{
	width:100%;
	height:76%;
	background:url('../images/fondoblanco.jpg') no-repeat;
	background-size: 100% 100%;
}

#pie
{
	width:100%;
	height:12%;
	background:url('../images/pie.png') no-repeat;
	background-size: 100% 100%;
}

/* CABECERA INICIO */
#acceso
{
	width: 25%;
	height: 100%;
	font-family:papyrus;
	font-size: 1.3em;
	color: white;
	float:left;
	letter-spacing: 2px;
	text-align:center;
}

#acceso a
{
	text-decoration:none;
	color: white;
}

#acceso p
{
	margin-top: 5%;
}

#acceso a:hover
{
	color:#F9CF24;
}

#cab-inicio h1
{
	width: 50%;
	height:60%;
	display:inline-block;
}

.titulo
{
	text-align: center;
	font-family:papyrus;
	font-size: 3em;
	color: white;
	font-weight:bold;
	letter-spacing:5px;
}

#enlaces_cab
{
	width:25%;
	height: 60%;
	font-family:verdana;
	font-size: 0.8em;
	color: white;
	float:right;
	text-align:center;
}

#enlaces_cab img:hover
{
	transform:scale(1.2);
    -ms-transform:scale(1.2);
}

#enlaces_cab img
{
	width: 35px;
	height: 35px;
	margin-left: 5px;
}

#enlaces_cab p
{
	margin-top: 4%;
}

#menu
{
    display: inline-block;
	width: 60%;
	height: 40%;
}

#menu ul
{
    list-style-type: none;
	padding-right: 1%;
}

#menu li
{
    display: inline-block;
	margin-right: 15px;
	padding: 2px;	
}

#menu a
{
    text-align: center;
	font-size: 1.6em;
	font-family: papyrus;
	color: white;
    text-decoration: none;
}

#menu a:hover
{
	color: #F9CF24;
}

/* CUERPO */

#aviso
{
	width:80%;
	height: 100%;
	text-align: center;
	display:block;
	margin:2% auto;
}
#aviso h1
{
	text-align: center;
	font-family:arial;
	font-size: 1.2em;
	color: #2A2A2A;
	letter-spacing:5px;
	font-weight:bold;
	margin-bottom:1%;
}
#aviso h2
{
	text-align: center;
	font-family:arial;
	font-size: 1em;
	color: #2A2A2A;
	letter-spacing:5px;
	font-weight:bold;
	margin-bottom:2%;
	margin-top:3%;
}

#aviso p
{
	text-align: center;
	font-family:arial;
	font-size: 0.8em;
	color: #2A2A2A;
	line-height:160%;
	letter-spacing:1px;
}

/* PIE */

#bannerabajo
{
	font-family:dayrom;
	width:96%;
	height:100%;
	display:inline-block;
	padding-left: 2%;
	padding-right: 2%;
	padding-top:0;
}

#avisos
{
	float:left;
	text-align:left;
	vertical-align:text-bottom;
	margin-top:4%;
	color:white;
}

#imagenpie
{
	display:inline-block;
	margin-left: 12%;
	margin-top:1%;
}

.nombre
{
	height: 100px;
	width: 180px;
}

#enlaces_pie
{
	float:right;
	text-align:right;
	margin-top:5%;
}

#enlaces_pie img
{
	width: 35px;
	height: 35px;
	margin-left: 5px;
}

#enlaces_pie img:hover
{
	transform:scale(1.2);
    -ms-transform:scale(1.2);
}

#avisos a
{
	text-decoration:none;
	color:white;
}

#avisos a:hover
{
	color: #F9CF24;
}



